#mobiletop {display:none;}
#mobiletop div#mobnav ul li#showleft {display:none;}
.mobshow {display:none;}

/* MOBILE NAVIGATION BAR */
#mobnav {padding:0; clear:both;}
#mobnav ul {margin:0; padding:0 0 0 6px; list-style:none; height:22px; border-bottom:1px solid #336699;}
#mobnav ul ul {position:absolute;top:97px; display:none; width:165px; padding:0px 0px 3px 0px;}
#mobnav ul ul ul {position:absolute; top:22px; left:-9999px; width:165px; padding:0px 0px 3px 0px;}
#mobnav ul li:hover ul {display:block; z-index:100; box-shadow:5px 5px 5px #888; background:#3368d0;}
#mobnav ul ul li:hover ul {left: 165px; display:block; z-index:100; box-shadow:5px 5px 5px #888; background:#4870D8;}
#mobnav li {display:block; float:left; background:#003366; margin-right:3px;}
#mobnav li.first {background:black;}
#mobnav li a{display:block; float:left; font:12px verdana,sans-serif; font-weight:bold; color:#fff; white-space:nowrap; padding:4px 6px; margin:0; text-decoration:none;}
#mobnav li a:visited{color:#fff; text-decoration:none;}
#mobnav li a:hover{color:#ffff00; text-decoration:underline overline;}
#mobnav li li {width:100%; text-indent:6px; background:#3368d0;}
#mobnav li li li {width:100%; text-indent:6px; background:#4870D8;}
#mobnav li li a {padding:0px;	margin:3px 1px 3px 1px; background:none; float:none; display:block; border-style:none;font-weight:normal;}
#mobnav li div{display:block; float:left; margin:0; padding:0;}
#mobnav li.on{background:#336699; padding:0;}
#mobnav li.on div{padding:0;}
#mobnav li.on a{color:#fff; text-decoration:none;}
#mobnav li.on a:visited{color:#fff; text-decoration:none;}
#mobnav li.on a:hover{color:#ffff00; text-decoration:underline overline;}
/*END MOBILE NAVIGATION BAR */

.mobsubnav {display:none;}
.mobsubnav ul {margin:0px; padding:0px; list-style:none; clear:both; float:left; background:#336699;border-top:1px solid #ffffff;}
.mobsubnav li { display:block; float:left; height:18px; background:#336699; font:12px arial, verdana, sans-serif; color:#fff; padding:3px 0px 0px 0px; border-right:3px solid #fff;}
.mobsubnav li a {font:12px arial, verdana, sans-serif; color:#fff; text-decoration:none; padding:0 4px;}

@media (max-width: 720px) {
 #top {display:none;}
 #mobiletop {display:block;}
 #center {position:relative; margin:0px 6px 0px 6px;}
 #left {display:none; top:75px;}
 #centerw2 {position:relative; margin:0px 6px 0px 6px;}
 #leftw2 {display:none;}
 #right {position:relative; top:0px; left:6px;}
 #content {position:relative; margin:0px 6px 0px 6px;}
 #sidebar {position:relative; top:0px; left:6px;}
 .mobhide {display:none;}
 .mobshow {display:block;}
 .mobsubnav {display:block;}
 img {max-width:100%; height:auto;}
}
